template/stage/logs
.DS_Store
/bin/lib/libluajit-5.1.so.2
/bin/index.so
/bin/logs
/bin/luajit.so
/bin/curl.so
/bin/lua.so
/bin/single
/lua/5.3/lua-openssl
/.idea
/lua/jit/include
/lua/jit/lib
/lua/5.3/lib
/cmake-build-debug
/lua/5.3/include
/bin/lib/lua
/lua/jit/bin
/bin/lib/luajit
/lua/jit/luv
/lua/5.3/bin
/bin/lib/liblua-5.3.so
/lua/jit/luajit-2.0
/lua/5.3/luv
/lua/5.3/lua-5.3.5
/lua/jit/lua-openssl
